h1{
    font-size: 10vh;
}
body{
    display: flex;
    justify-content: center;
    background-color: bisque;
}
.body{
    align-content: center;
    border: 1px solid black;
    width: max-content;
    height: max-content;
    padding: 1vh;
    background-color: rgb(55, 58, 57);
}
button{
    font-size: 4vh;
    width: 12.4vh;
    padding: 2vh;
    background-color: black;
    color: white;

}
input{
    font-size: 4vh;
    height: 8vh;
    width: 29vw;
    text-align: right;
}
.b1{
    width:10vw;
}
.b2{
    width:15vw;
}
button:hover{
    background-color: white;
    color: black;
}